mat-grid-list{
  padding-bottom: calc(1 * ((8% - 0px) * 1) + 0px + 0px) !important;
}

mat-form-field{
  width: 10em !important;
}
mat-grid-tile {
  padding-top: 6em !important;
}

.form, form{
  margin-left: 1em !important;
}

.google{
  text-align: -webkit-center !important;
}